<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
	<head>
		{{ partial "head.html" . }}
		<link rel="icon" type="image/png" href="favicon.png">
	</head>
	<body>

		{{ partial "header.html"  . }} 
		{{ partial "about.html"   . }}
		{{ partial "work.html"    . }}
		{{ partial "clients.html" . }}
		{{ partial "contact.html" . }}
		{{ partial "form.html"    . }}
		{{ partial "footer.html"  . }}

		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<script src="js/functions.js"></script>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-94062994-3"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());
		gtag('config', 'UA-94062994-3');
	</script>

	</body>
</html>
